<% flash.each do |key, value| %>
  <%= content_tag :div, value, class: "flash #{key}" %>
<% end %>

<p>
  <%= f.label :rut %>
  <%= f.text_field :rut %>
</p>

<p>
  <%= f.label :membership_number, 'Número de socio' %>
  <%= f.text_field :membership_number %>
</p>

<p>
  <%= f.label :name, 'Nombre' %>
  <%= f.text_field :name %>
</p>

<p>
  <%= f.label :last_name, 'Apellido' %>
  <%= f.text_field :last_name %>
</p>

<p>
  <%= f.label :email, 'Correo' %>
  <%= f.email_field :email %>
</p>

<p>
  <%= f.label :password, 'Contraseña' %>
  <%= f.password_field :password %>
</p>

<p>
  <%= f.label :password_confirmation, 'Confirme contraseña' %>
  <%= f.password_field :password_confirmation %>
</p>

<p>
  <%= f.label :address, 'Dirección' %>
  <%= f.text_field :address %>
</p>

<p>
  <%= f.label :phone, 'Número de teléfono' %>
  <%= f.text_field :phone %>
</p>

<p>
  <%= f.label :country, 'País' %>
  <%= f.text_field :country %>
</p>

<p>
  <%= f.label :birthdate, 'Fecha de nacimiento' %>
  <%= f.datetime_field :birthdate %>
</p>

<p>
  <%= f.label :license_type, 'Tipo de licencia' %>
  <%= f.text_field :license_type %>
</p>

<p>
  <%= f.label :license_number, 'Número de licencia' %>
  <%= f.text_field :license_number %>
</p>

<p>
  <%= f.label :user_role, 'Permiso de sistema' %>
  <%= f.number_field :user_role %>
</p>

<p>
  <%= f.label :membership_type, 'Tipo de socio' %>
  <%= f.text_field :membership_type %>
</p>

<p>
  <%= f.label :membership_state, 'Estado de socio' %>
  <%= f.text_field :membership_state %> 
</p>

<%= f.submit %>
