<% if @aeroplane.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@aeroplane.errors.count, "error") %> prohibited this aeroplane from being saved:</h2>

    <ul>
    <% @aeroplane.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= f.label :plate, 'Matrícula' %>
<% if @aeroplane.errors.messages[:plate] %>
  <% @aeroplane.errors.messages[:plate].each do |msg| %>
    <div class="error-message"><%= msg %></div>
  <% end %>
<% end %>
<%= f.text_field :plate %>



<%= f.label :plane_type, 'Tipo de aeronave' %>
<%= f.text_field :plane_type %>



<%= f.label :brand, 'Marca aeronave' %>
<%= f.text_field :brand %>



<%= f.label :next_revision, 'Hs Próxima revisión' %>
<%= f.text_field :next_revision %>



<%= f.label :flying_time, 'Hs Voladas' %>
<%= f.text_field :flying_time %>


<% if params[:action] == "edit" %>
  <label>Horas disponibles: <%= @aeroplane.available_hours %></label>
<% end %>



<%= f.label :state, 'Estado' %>
<%= f.select(:state, [['En vuelo', 1], ['Fuera de vuelo', 0]]) %>

<% if params[:action] == "new" %>
  <%= f.submit "Crear material", class: "btn btn-primary btn-block" %>
<% else %>
  <%= f.submit "Actualizar material", class: "btn btn-primary btn-block" %>
<% end %>
