<% if @reservation.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@reservation.errors.count, "error") %> prohibited this reservation from being saved:</h2>

    <ul>
    <% @reservation.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_for(@reservation) do |f| %>
    <div class="col-box">
    <label>Fecha de inicio</label>
    <%= f.date_select :start_time, order: [:day, :month, :year] %>
  


    <label>Hora de inicio</label>
    <div>
      <%= f.time_select :start_time, ignore_date: true, minute_step: 15, default: { hour: DateTime.now.hour, minute: @minutes.minute } %>
    </div>
  
 
    <label>Fecha de término</label>
    <%= f.date_select :finish_time, order: [:day, :month, :year] %>
  

 
    <label>Hora de término</label>
    <%= f.time_select :finish_time, ignore_date: true, minute_step: 15, default: { hour: DateTime.now.hour, minute: @minutes.minute } %>
  

    <% if (user_signed_in? && current_user.is_admin?) || admin_signed_in? %>
      <label>Socio</label>
      <% if user_signed_in? %>
        <%= f.collection_select :user_id, User.all, :id, :name, { selected: current_user.id} %>
      <% else %>
        <%= f.collection_select :user_id, User.all, :id, :name %>
      <% end %>
    <% end %>
  

 
    <label>Material</label>
    <%= f.collection_select :aeroplane_id, Aeroplane.where(state: 1), :id, :plate, { required: true, include_blank: "-- seleccione --" } %>
  

    <% if params[:action] == 'new' %>
      <p id="instructor_selector">
        No posee habilitación, debe seleccionar instructor
        <%= f.collection_select :instructor_id, User.where(license_type: 'Instructor'), :id, :name %>
      </p>
    <% else %>
      <p id="instructor_selector">
        No posee habilitación, instructor seleccionado
        <%= f.collection_select :instructor_id, User.where(license_type: 'Instructor'), :id, :name %>
      </p>
    <% end %>

 
    <label>Tipo de vuelo</label>
    <%= f.select :flight_type, [['local', 'local'], ['travesía', 'travesía']] %>
  

 
    <label>Ruta</label>
    <%= f.text_field :route %>  
  

  <%= f.submit "Reservar", class: "btn btn-primary btn-block" %>
</div>
<% end %>

<script type="text/javascript">
  getQualifications = function(user_id) {
    $.ajax({
      method: 'GET',
      url: '/load_aeroplanes?id=' + user_id,
      success: function(res){
        qualifications = res;
        var aeroplane_id = $('#reservation_aeroplane_id').find(":selected").val();
        checkQualification(aeroplane_id);
      }
    })  
  }

  checkQualification = function(aeroplane_id) {
    if(aeroplane_id != "") {
      var found = false;
      qualifications.reservations.forEach(function(element){
        if(element.id == aeroplane_id){
          found = true;
        }
      })

      if(found) {
        $('#instructor_selector').hide();
      } else {
        $('#instructor_selector').show();
      }
    }
  }

  $(document).ready(function(){
    var qualifications = []
    <% if user_signed_in? %>
      getQualifications(<%= current_user.id %>)
    <% end %>

    <% if params[:action] == 'new' %>
      $('#instructor_selector').hide();
    <% end %>

    var user = $('#reservation_user_id').find(":selected").val();
    getQualifications(user);

    $('#reservation_aeroplane_id').on('change', function(){
      var aeroplane_id = $(this).find(":selected").val();
      checkQualification(aeroplane_id);
    });

    $('#reservation_user_id').on('change', function(){
      var user = $('#reservation_user_id').find(":selected").val();
      getQualifications(user);
    })
  })
</script>
