<div class="container-form">
  <div class="container-box center display">
    <div class="col-box">
      <h2 class="center">Detalle reserva</h2>

      <p>Fecha inicio: <%= @reservation.start_time.strftime("%Y/%m/%d %H:%M") %></p>

      <p>Fecha término: <%= @reservation.finish_time.strftime("%Y/%m/%d %H:%M") %></p>

      <p>Tiempo de reserva: <%= formatted_duration (@reservation.finish_time - @reservation.start_time).to_i %> </p>

      <p>Socio: <%= @reservation.user.full_name %></p>

      <p>Material: <%= @reservation.aeroplane.plate %></p>

      <% if @reservation.instructor.present? %> 
        <p>Instructor: <%= @reservation.instructor.name %></p>
      <% end %>

      <p>Tipo de vuelo: <%= @reservation.flight_type %></p>

      <% if @reservation.route.present? %>
        <p>Ruta: <%= @reservation.route %></p>
      <% end %>

      <div class="options">
        <% if (user_signed_in? && (@reservation.user == current_user || current_user.is_admin?)) || admin_signed_in? %> 
          <%= link_to "Editar", edit_reservation_path(@reservation) %>
          <%= link_to "Eliminar", reservation_path(@reservation), method: :delete, data: { confirm: "¿Estás seguro?" } %>
        <% end %>
      <%= link_to 'Volver', reservations_path %>
      </div>
    </div>
  </div>
</div>

