<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Estimado/a <%= @user.name %></h1>
    <p>
      A continuación, te mostramos los detalles de la reserva que acabas de realizar:
    </p>
    <ul>
      <li>Fecha inicio: <%= @reservation.start_time.strftime("%Y/%m/%d %H:%M") %></li>

      <li>Fecha término: <%= @reservation.finish_time.strftime("%Y/%m/%d %H:%M") %></li>

      <li>Material: <%= @reservation.aeroplane.plate %></li>

      <li>Tiempo de reserva: <%= @duration %> </li>

      <% if @reservation.instructor.present? %> 
        <li>Instructor: <%= @reservation.instructor.name %></li>
      <% end %>

      <li>Tipo de vuelo: <%= @reservation.flight_type %></li>

      <% if @reservation.route.present? %>
        <li>Ruta: <%= @reservation.route %></li>
      <% end %>
    </ul>
    
    <p>Gracias por usar nuestro sistema</p>
  </body>
</html>
