<!DOCTYPE html>
<html>
  <head>
    <title>Reservas</title>
    <%= csrf_meta_tags %>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script
    src="http://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>

    <!-- jQuery once -->
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/jquery-once/2.2.0/jquery.once.min.js"></script>

    <!-- Moment.js -->
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.21.0/moment.min.js"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.21.0/locale/es.js"></script>
    <!-- Full Calendar -->
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.min.js"></script>
    <!--<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.print.css" />-->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.min.css" />


  </head>

  <body>
    
    <% if user_signed_in? %>
      <div class="header">
        <%= link_to 'Reservas', reservations_path %>
        <%= link_to 'Materiales', admin_aeroplanes_path %>
        <%= link_to 'Socios', admin_members_path %>
        <%= link_to 'Log-out', destroy_user_session_path, method: :delete %>
      </div>
    <% end %>

      <% if admin_signed_in? %>
        <div class="header">
          <%= link_to 'Reservas', reservations_path %>
          <%= link_to 'Materiales', admin_aeroplanes_path %>
          <%= link_to 'Socios', admin_members_path %>
          <%= link_to 'Log-out', destroy_admin_session_path, method: :delete %>
        </div>
      <% end %>
    </div>
    <% flash.each do |key, value| %>
      <%= content_tag :div, value, class: "flash #{key}" %>
    <% end %>
    <div class="main-content">    
      <%= yield %>
    </div>
  </body>
</html>
